<template lang="pug">
  b-container.bottom-nav.w-100.px-0(fluid)
    b-row.mx-0.h-100
      .text-center.p-2.bottom-nav__item.bottom-nav__home.active
        a(href="/home")
          i.fas.fa-home.fa-lg
          p Home
        
      .text-center.p-2.bottom-nav__item.bottom-nav__notifications
        a(href="#")
          i.fas.fa-bell.fa-lg
          p Notifications

      .bottom-nav__item.bottom-nav__pay-btn
        // Button for payment
        button(@click='startPaymentProcess')
          p Pay

      .text-center.p-2.bottom-nav__item.bottom-nav__requests
        a(href="#")
          i.fas.fa-comment-alt.fa-lg
          p Requests
        .requests-popup
          b-button Amenities
          b-button Services


      .text-center.p-2.bottom-nav__item.bottom-nav__profile
        a(href="#")
          i.fas.fa-user.fa-lg
          p Profile
</template>

<script lang="ts">
import Vue from "vue";
import firebase from "firebase";
import { LLPaymentRequest } from "~shared/landlord/LLPaymentRequest";

export default Vue.extend({
  components: {},
  props: ["paymentRequest"],
  methods: {
    data() {
      return {
        paymentRequestTest: {}
      };
    },
    startPaymentProcess() {
      // const uid = firebase.auth().currentUser.uid;
      const uid = "Ue8JI4fKrFUqYWojRuDr9SffL903";
      const llPaymentRequest: LLPaymentRequest = this.paymentRequest;

      firebase
        .database()
        .ref("paymentRequests")
        .child(uid)
        .set({
          llPaymentRequest
        })
        .then(res => {
          window.open(
            // TODO write this in a better way
            // request auth code
            "https://api-uat.unionbankph.com/partners/sb/convergent/v1/oauth2/authorize?client_id=e527be1e-4497-4f73-a082-403bf1e25b0d&response_type=code&scope=payments&redirect_uri=http://192.168.43.75:8080/confirmation&type=single&partnerId=01bbb51e-1e6c-4bd4-af9c-450957522aac",
            "_self"
          );
        });
    }
  },
  mounted() {
    console.log(this.paymentRequest);
    let requestsNav = document.querySelector(".bottom-nav__requests");
    let requestsPopup = document.querySelector(".requests-popup");
    document
      .querySelector(".bottom-nav__requests")
      .addEventListener("click", function(event) {
        requestsPopup.classList.toggle("d-shown");
      });

    document
      .querySelector(".bottom-nav__requests")
      .addEventListener("focusout", function(event) {
        requestsPopup.classList.toggle("d-shown");
      });
  }
});
</script>

<style lang="scss">
@import "../../assets/scss/_main.scss";
.bottom-nav {
  z-index: 2;
  background: white;
  height: 60px;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.08);

  &__item {
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;

    p {
      margin-bottom: 0;
      margin-top: 0.1rem;
    }

    a {
      color: $c-gray;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: $c-primary;
      }
    }

    &.active a {
      color: $c-primary;
    }

    &.bottom-nav__pay-btn {
      position: relative;
    }

    &.bottom-nav__pay-btn button {
      position: absolute;
      left: 50%;
      top: -35px;
      transform: translateX(-50%);
      width: 70px;
      height: 70px;
      background: $c-primary;
      color: white;
      border: none;
      border-radius: 50%;
      box-shadow: 0 2px 12px 0 rgba($c-primary-darken, 0.5);

      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 0.04rem;

      &:hover,
      &:focus,
      &:active {
        background: $c-primary !important;
        box-shadow: 0 2px 12px 0 rgba($c-primary-darken, 0.4);
        border: none !important;
        outline: none !important;
      }
    }

    &.bottom-nav__requests {
      position: relative;

      .requests-popup {
        position: absolute;
        top: -80px;
        left: 0px;
        background: white;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        opacity: 0;
        transition: all 0.3s;

        &.d-shown {
          opacity: 1;
          top: -105px;
        }

        button {
          font-size: 1rem;
          background: transparent;
          border-color: transparent;
          color: black;
          border-radius: 0;
          border-bottom-color: $c-light-gray;
        }
      }
    }
  }
}

// 1024px+
@media screen and (min-width: 64em) {
  .bottom-nav {
    display: none;
  }
}
</style>