<template lang="pug">
  div(@click='openLogin') PAY NOW
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  mounted() {},
  methods: {
    openLogin() {
      window.open(
        "https://api-uat.unionbankph.com/partners/sb/customers/v1/oauth2/authorize?client_id=8c219f44-3e37-4afa-be34-dd1d338d3c11&response_type=code&scope=payments&redirect_uri=http://localhost:8080&type=single&partnerId= 5dff2cdf-ef15-48fb-a87b-375ebff415bb", "_self"
      );
    }
  }
});
</script>
