<template lang="pug">
  b-container.confirmation-page.mx-0(fluid)
    h5 Confirm payment
    div.amount-container P {{totalAmount}}
    button.continue-btn CONTINUE
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import firebase from "firebase";
import { LLPaymentRequest } from "~shared/landlord/LLPaymentRequest";

export default Vue.extend({
  data() {
    return {
      result: "RESULT?",
      accessToken: "",
      totalAmount: 9000,
    };
  },
  mounted() {
    const uid = "Ue8JI4fKrFUqYWojRuDr9SffL903";
    let vue = this;

    firebase
      .database()
      .ref("paymentRequests")
      .child(uid)
      .once("value")
      .then(res => {
        const authorizationCode = this.$route.query.code;
        // request an access token
        var data = `grant_type=authorization_code&client_id=e527be1e-4497-4f73-a082-403bf1e25b0d&code=${authorizationCode}&redirect_uri=http%3A%2F%2F192.168.43.75%3A8080%2Fconfirmation`;
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        let _this = this;
        xhr.addEventListener("readystatechange", function() {
          if (this.readyState === 4) {
            // @ts-ignore
            _this.accessToken = JSON.parse(
              this.responseText.toString()
            ).access_token;
            console.log(_this.accessToken);
            console.log(res.val());
            _this.updatePaymentStatus(res.val().unitId, 1);
            vue.totalAmount = res.val().amount;
            // _this.confirmPayment(_this.accessToken, res.val());
          }
        });
        xhr.open(
          "POST",
          "https://api-uat.unionbankph.com/partners/sb/convergent/v1/oauth2/token"
        );
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        xhr.setRequestHeader("cache-control", "no-cache");
        xhr.setRequestHeader(
          "Postman-Token",
          "9beedc25-5078-4802-b540-73d1dc285fc3"
        );
        xhr.send(data);
      });
  },
  methods: {
    confirmPayment(token: string, paymentRequest: LLPaymentRequest) {
      paymentRequest.token = token;
      console.log(paymentRequest.unitId);
      this.updatePaymentStatus(paymentRequest.unitId, 1);
      // axios.post("http://192.168.43.75/api/v1/llpayments/accept").then(res => {
      //   console.log(res);
      // });
    },

    // status can either be 1 or 0
    updatePaymentStatus(unitId: string, status: number) {
      return new Promise((resolve, reject) => {
        firebase
          .database()
          .ref("unitsPaymentStatus")
          .child('unit-3')
          .set(status)
          .then(res => {
            resolve(res);
          })
          .catch(err => {
            reject(err);
          });
      });
    }
  }
});
</script>

<style lang="scss">
@import '../assets/scss/_main.scss';
.confirmation-page {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 2.5rem 2.5rem 2.5rem !important;
  text-align: center;

  h5 {
    padding-bottom: 1rem;
  }

  .amount-container {
    height: 150px;
    width: 100%;
    background-color: $c-green;
    margin-bottom: 9rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.2rem;

    &:before,
    &:after {
      content:'';
      position: absolute;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: white;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      left:-25px;
    }

    &:after {
      right: -25px;
    }
  }

  button {
    padding: 1.5rem 2rem;
    background: $c-green;
    border-radius: 8px;
    border: 0;
    color: white;
    letter-spacing: 0.15rem;
  }
}
</style>

 