<template lang="pug">
  b-container.estate-home.px-0(fluid)
    header-nav
    b-row.mx-0
      b-col.unit-item(v-for="unit in units" :key="unit.name" sm="12")
        p.unit-name {{unit.name}}
        p.pr-3(:class="unit.occupied == true ? 'd-none':''") VACANT
        div.unit-bills(:class="unit.occupied == true ? '':'d-none'")
          i.fa.fa-dollar-sign(:class="unit.rent")
          i.fa.fa-sticky-note(:class="unit.misc")
          i.fa.fa-bolt(:class="unit.electricity")
          i.fa.fa-chevron-right
</template>

<script lang="ts">
import Vue from 'vue'
import headerNav from '../components/header/header-1'

export default Vue.extend({
  components: {
    headerNav,
  },
  data(){
    return {
      units: [
        {
          name: 'unit 1',
          electricity: 'green',
          rent: 'green',
          misc: 'green',
          occupied: true
        },
        {
          name: 'unit 2',
          electricity: 'red',
          rent: 'red',
          misc: 'orange',
          occupied: true
        },
        {
          name: 'unit 3',
          electricity: 'gray',
          rent: 'gray',
          misc: 'gray',
          occupied: true
        },
        {
          name: 'unit 4',
          electricity: 'green',
          rent: 'red',
          misc: 'orange',
          occupied: false
        },
        {
          name: 'unit 5',
          electricity: 'orange',
          rent: 'gray',
          misc: 'green',
          occupied: true
        },
        
      ]
    }
  },
})
</script>

<style lang="scss">
@import '../assets/scss/_main.scss';
.estate-home {
  .unit-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid $c-light-gray;

    p {
      margin: 0;
      font-size: .9rem;
      letter-spacing: 0.2rem;
    }
  }

  .unit-name {
    text-transform: uppercase;
  }

  .unit-bills {
    & > * {
      margin: 0 .7rem;
      transform: scale(1.1);
    }

    .fa-chevron-right {
      margin: 0 0 0 1rem;
      color: $c-gray;
    }
  }
}
</style>