<template lang='pug'>
  div.home-main-container
    headerNav
    b-container.home-user(fluid)
      b-container.payment-item.px-0.py-3(fluid v-if="rentFees.length>0")
        b-row.mx-0.payment-item__header
          b-col.px-0.payment-item__checkbox(cols="1")
            b-form-checkbox(size="lg" checked="true")
          b-col.pr-0(cols="8") 
            p.payment-item__title RENT
            p.payment-item__due-date Due {{rentFees[0].due}}
          b-col.px-0.text-right.payment-item__status-column(cols="3") 
            p.mb-0.payment-item__status {{rentStatus}}
        b-row.mx-0(fluid v-for="fees in rentFees")
          b-col.px-0(cols="6")
            p.payment-item__fee-title {{fees.title}}
          b-col.px-0(cols="6")
            p.payment-item__fee-amount.text-right P {{fees.amount}}.00
        b-row.mx-0
          b-col.px-0.payment-item__total-column(cols="12")
            p.payment-item__subtitle TOTAL
            p.payment-item__total P{{computeTotal(rentFees)}}.00

      b-container.payment-item.px-0.py-3(v-if="miscFees.length>0" fluid)
        b-row.mx-0.payment-item__header
          b-col.px-0.payment-item__checkbox(cols="1")
            b-form-checkbox(size="lg" checked="true")
          b-col.pr-0(cols="8") 
            p.payment-item__title MISCELLANEOUS
            p.payment-item__due-date Due {{miscFees[0].due}}
          b-col.px-0.text-right.payment-item__status-column(cols="3") 
            p.mb-0.payment-item__status {{miscStatus}}
        b-row.mx-0(v-for="fees in miscFees" :key="fees.title")
          b-col.px-0(cols="6")
            p.payment-item__fee-title {{fees.title}}
          b-col.px-0(cols="6")
            p.payment-item__fee-amount.text-right P {{fees.amount}}.00
        b-row.mx-0
          b-col.px-0.payment-item__total-column(cols="12")
            p.payment-item__subtitle TOTAL
            p.payment-item__total P{{computeTotal(miscFees)}}.00

      b-container.payment-item.px-0.py-3(fluid v-if="electricityFees.length > 0")
        b-row.mx-0.payment-item__header
          b-col.px-0.payment-item__checkbox(cols="1")
            b-form-checkbox(size="lg" checked="true")
          b-col.pr-0(cols="8") 
            p.payment-item__title ELECTRICITY
            p.payment-item__due-date Due {{electricityFees[0].due}}
          b-col.px-0.text-right.payment-item__status-column(cols="3") 
            p.mb-0.payment-item__status {{electricityStatus}}
        b-row.mx-0(v-for="fees in electricityFees" :key="fees.title")
          b-col.px-0(cols="6")
            p.payment-item__fee-title {{fees.title}}
          b-col.px-0(cols="6")
            p.payment-item__fee-amount.text-right P {{fees.amount}}.00
        b-row.mx-0
          b-col.px-0.payment-item__total-column(cols="12")
            p.payment-item__subtitle TOTAL
            p.payment-item__total P{{computeTotal(electricityFees)}}.00
    
    bottom-nav(:paymentRequest="paymentRequest")
</template>
<script lang="ts">
import Vue from 'vue'
import bottomNav from '../components/bottom-nav/bottom-nav-1.vue'
import headerNav from '../components/header/header-1.vue'
import firebase from 'firebase'
import bills from '../assets/scripts/bills'

export default Vue.extend({
  // @ts-ignore
  head() {
    return {
      title: 'Home | LandLord App',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  },
  components: {
    bottomNav,
    headerNav,
  },
  data() {
    return {
      paymentRequest: {
        date: new Date().getTime(),
        amount: 0,
        tenantId: "",
        unitId: ""
      },
      rentFees: [],
      miscFees: [],
      electricityFees: [],
      rentStatus: "UNPAID",
      miscStatus: "UNPAID",
      electricityStatus: "UNPAID"
    }
  },
  mounted() {
    let vue = this;
    let db = firebase.firestore();
    
    // Populate Database
    // bills.forEach(function(bill, index) {
    //   firebase.firestore().collection("LLBills").add({
    //     type: bill.type,
    //     tenant: bill.tenant,
    //     landlord: bill.landlord,
    //     due: bill.due,
    //     created: bill.created,
    //     title: bill.title,
    //     amount: bill.amount
    //   })
    //   .then(function() {
    //     console.log("Document successfully written!");
    //   })
    //   .catch(function(error) {
    //     console.error("Error writing document: ", error);
    //   });
    // })

    // Get Unit ID
    

    // Segregate Type of Bills
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        db.collection("LLUnits").where("tenant", "==",'Ue8JI4fKrFUqYWojRuDr9SffL903')
        .get()
        .then(function(querySnapshot) {
            querySnapshot.forEach(function(doc) {
              vue.paymentRequest.unitId = doc.data().unitId;
              vue.paymentRequest.tenantId = 'Ue8JI4fKrFUqYWojRuDr9SffL903';
            });
        })
        .catch(function(error) {
            console.log("Error getting documents: ", error);
        });

        db.collection("LLBills").where("tenant", "==", 'Ue8JI4fKrFUqYWojRuDr9SffL903')
        .get()
        .then(function(querySnapshot) {
            querySnapshot.forEach(function(doc) {
                // doc.data() is never undefined for query doc snapshots
                // console.log(doc.id, " => ", doc.data());
              
              if (doc.data().type == "RENT") vue.rentFees.push(doc.data());
              else if(doc.data().type == "MISC") vue.miscFees.push(doc.data());
              else if(doc.data().type == "ELECTRICITY") vue.electricityFees.push(doc.data());
              vue.paymentRequest.amount += doc.data().amount;
            });
        })
        .catch(function(error) {
            console.log("Error getting documents: ", error);
        });
      } else {
        // No user is signed in.
      }
    });
  },
  asyncData() {
    return {
    }
  },
  computed: {
    
  },
  methods: {
    computeTotal(items) {
      let total = 0;
      items.forEach(item => {
        total = total + item.amount
      });
      return total
    },
    setColumn(route, columnTrue, columnFalse) {
      if (this.$route.name == route) {
        return columnTrue
      } else {
        return columnFalse
      }
    },
    setStyle(route, style) {
      if (this.$route.name == route) {
        return style
      }
    },
  },
})
</script>
<style lang="scss">
@import '../assets/scss/_main.scss';
.home-user {
  padding: 1rem 2rem 4rem 2rem;
}
.payment-item {
  font-size: 0.8rem;
  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__due-date {
    color: $c-gray;
    margin-bottom: 0;
  }

  &__status {
    color: $c-secondary;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__total-column {
    text-align: right;
    p {
      display: inline-block;

      &.payment-item__subtitle {
        color: $c-gray;
        font-weight: 600;
        margin-right: 0.8rem;
      }

      &.payment-item__total {
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    & .custom-checkbox.b-custom-control-lg .custom-control-label::before {
      border-radius: 0;
      box-shadow: none !important;
    }

    & .custom-control-input:active ~ .custom-control-label::before,
    & .custom-control-input:focus ~ .custom-control-label::before {
      border-color: $c-green;
    }

    & .custom-control-input:checked ~ .custom-control-label::before {
      background-color: $c-green !important;
      border-color: $c-green;
    }
  }
}
</style>