<template lang="pug">
  google-login-btn(@login="onLogin")
</template>

<script lang="ts">
import Vue from 'vue'
import googleLoginBtn from '../components/login/google-login-btn.vue';
// import LLUsers from '../assets/scripts/services/firebends/LLUsers'
import firebase from 'firebase'

export default Vue.extend({
  components: {
    googleLoginBtn
  },
  methods: {
    async onLogin(user: firebase.User) {
      let vue = this;
      let userRef = firebase.firestore().collection('LLUsers').doc(user.uid);

      userRef.get().then(function(doc) {
        if(doc.exists) {
          console.log(doc.data());
          userRef.update({
            lastLogin: new Date().getTime()
          });
        } else {
          firebase.firestore().collection('LLUsers').doc(user.uid).set({
            name: user.displayName,
            email: user.email,
            uid: user.uid,
            userType: "TENANT",
            lastLogin: new Date().getTime()
          })
        }

        vue.$router.push('/');
      });
    }
  }
})
</script>

<style lang="scss">

</style>