<template lang="pug">
  b-container.success-page(fluid)
    img(src="../assets/images/undraw_done_a34v.svg")
    h3 Your payment is successful!
    h6 Thank you for using Union Bank
    button CONTINUE
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  
})
</script>

<style lang="scss">
@import '../assets/scss/_main.scss';

.success-page {
  height: 92vh;
  padding: 3rem 2.5rem 2.5rem 2.5rem !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  img {
    width: 100%;
  }

  h6 {
    padding-bottom: 9rem;
    color: $c-gray;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
    text-transform: uppercase;
  }

  button {
    display: block;
    width: 100%;
    border: 0;
    background: $c-primary;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    letter-spacing: 0.1rem;
  }
}
</style>