<template lang="pug">
  .btn-google-login(@click='login') Login with google
</template>
<script lang="ts">
import Vue from 'vue'

import firebase from 'firebase'

export default Vue.extend({
  data() {
    return {
      provider: new firebase.auth.GoogleAuthProvider()
    }
  },
  methods: {
    login() {
      firebase
        .auth()
        .signInWithPopup(this.provider)
        .then(result => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          //@ts-ignore
          const token = result.credential.accessToken
          // The signed-in user info.
          const user = result.user
          this.$emit('login', user)
          // ...
        })
        .catch(function(error) {
          // Handle Errors here.
          const errorCode = error.code
          const errorMessage = error.message
          // The email of the user's account used.
          const email = error.email
          // The firebase.auth.AuthCredential type that was used.
          const credential = error.credential
        })
    }
  }
})
</script>