<template lang='pug'>
  router-view
</template>
<script lang='ts'>
import Vue from "vue";
// import axios from "axios";
// import { LLPaymentRequest } from "~shared/landlord/LLPaymentRequest";

export default Vue.extend({
  mounted() {
    // console.log("TEST");
    // axios.get("http://localhost:3001/api/v1/llpayments/test0").then(result => {
    //   console.log(result.data);
    // });

    // const paymentRequest: LLPaymentRequest = {
    //   date: new Date().getTime(),
    //   amount: 1000,
    //   tenantId: "testTenantID",
    //   unitId: "testUnitID"
    // };
    // axios
    //   .post("http://localhost:3001/api/v1/llpayments/accept", paymentRequest)
    //   .then(result => {
    //     console.log(result);
    //   });
  }
});
</script>

<style lang="scss">
body, html{
  font-family: Poppins !important;
}
</style>
