<template lang="pug">
  div.header(fluid)
    img(src='../../assets/images/LandLordLogoCircle.png')
    p LandLord App
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({})
</script>

<style lang="scss">
@import '../../assets/scss/_main.scss';
.header {
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;

  img {
    max-height: 70%;
    width: auto;
    margin: 0 1rem;
    display: inline-block;
  }

  p {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
    margin: 0.2rem 0 0 0;
  }
}
</style>